$input-placeholder-color: #fff;
$link-hover: hsl(217, 71%, 45%);
$link-active: hsl(217, 71%, 45%);
@import '~bulma';

body {
  background: $black-bis;
  min-height: 100vh;
}

.card-header {
  align-items: center;
}
